# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.\n\n# dependencies\n/node_modules\n/.pnp\n.pnp.js\n.yarn/install-state.gz\n\n# testing\n/coverage\n\n# next.js\n/.next/\nout/\n\n# production\n/build\n\n# misc\n.DS_Store\n*.pem\n\n# debug\nnpm-debug.log*\n\n# deployment\n/dist\n\n# vite\n.env\n.env.*.local\n\n# typescript\n*.tsbuildinfo\n\n# eslint\n.eslintcache\n\n# logs\n*.log\n\n# vercel\n.vercel\n\n# IDE\n.vscode\n.idea